@import "tailwindcss";

@font-face {
  font-family: 'HeiT ASC Bold';
  src: url('/src/assets/fonts/HeiT ASC Bold W40 Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HeiT ASC Light';
  src: url('/src/assets/fonts/HeiT-ASC-Light-W40-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}




body {
    font-family: 'HeiT ASC Light', sans-serif;
}
